@charset "utf-8";
/* CSS Document */
html, body, ul, li, h1, h2, h3, h4, h5, h6, p, ol {
	margin: 0;
	padding: 0;
}


.zj-suisheng{
	width:495px;
	height: 146px;/*height: 150px;*/
	clear: both;
	margin:0 0 0 -4px;
	padding: 0;
}
.zj-suisheng .m1:link,.zj-suisheng .m1:visited{ 
	width:98px; 
	height:150px; 
	display:block; background-repeat:no-repeat;
}
.zj-suisheng div{
	width:98px;
	height:150px; 
	position:relative; float:left; color:#fff; text-decoration:none; overflow:hidden; border-right:1px solid #fff;}
	.zj-suisheng img{ 
		width:98px; 
		height:150px; 
		border:0;
	}
	.zj-suisheng p{
		position:absolute;
		left:0; 
		bottom:-150px;
		width:98px; 
		height: 175px;
		line-height:25px;
		background-color:rgba(75,183,239,.8); 
		background-color:#4bb7ef\9; filter:alpha(opacity=90); text-align:center; font-size:14px; display:block;
	}
	.zj-suisheng p a:hover{text-decoration: underline;}
	.zj-suisheng p a:link,.zj-suisheng p a:visited{color:#fff;}
	.zj-suisheng p span{ display:block; overflow:hidden; font-size:12px; height:20px; text-align:left; padding:0 10px;}
	.zj-suisheng p span a:link,.zj-suisheng p span a:visited{ color:#fff;}
	.zj-suisheng p span em a:link,.zj-suisheng p span em a:visited{ color:#fff100; font-style:normal;}
	.city_new_banner{ margin-bottom:20px;}
	.zj-suisheng div:hover p{ bottom:0; cursor:pointer; text-align:left;}
