@charset "utf-8";
/* CSS Document */
.moviebox{
	height: 205px;
}
ul, li {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	#abgne-block-20110317 {
		width: 180px;	/* 圖片的寬200px */
		height: 210px;	/* 圖片的高 + 30 */
		/*border: 1px solid #ddd;*/
		margin:10px 25px 0px 25px;
	}
	.abgne-player {
		width: 180px;	/* 圖片的寬200px */
		height: 220px;
		position: relative;
		overflow: hidden;
		left:10px;
	}
	.abgne-player ul.abgne-list {
		position: absolute;
		width: 9999px;height: 100%;

	}
	.abgne-player ul.abgne-list li {
		float: left;
		width: 180px;	/* 圖片的寬200px */
		height: auto;
	}
.abgne-player ul.abgne-list li>img.index_photo {
background-color: #FFFFFF;
border: 1px solid #D8D8D8;
box-shadow: 0px 0px 3px #C6C6C6;
filter: progid:DXImageTransform.Microsoft.Shadow( color='#C6C6C6', Direction=145, Strength=3 );
}
.abgne-player ul.abgne-list li .text {
	width: 100%;/*183px;*/
	margin:0;padding:0;
	position:relative;
	top:0px;
		font-size: 15px;
		font-weight: bold;
		font-family: '微軟正黑體 Bold','微軟正黑體','Microsoft JhengHei','新細明體','PMingLiU';
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: rgb(10, 64, 71);
	}
.abgne-player ul.abgne-list li .no>a {
color: #0088cc;
text-decoration: none;
}

.abgne-player ul.abgne-list li .no {
position:relative;
	top:-5px;
	font-size:12px;
display: inline-block;
width: 100%;
overflow: hidden;
text-align: center;
margin: 5px 0px;
/*padding: 5px 10px 5px 5px;*/
text-overflow: ellipsis;
white-space: nowrap;
}
	.abgne-player ul.abgne-list img{
		width: 100%;
		height: 100%;
		border: 1px #fff solid;
	}
	.abgne-control {
		height: 24px;
		padding: 3px;
		color: #fff;
		font-size: 11px;
		position:relative;
		top:-160px;
		/*background: #333;*/
	}
	.abgne-control ul {
		float: left;
		padding: 0px
	}
	.abgne-control>ul li {
		float: left;
		/*padding: 0px 5px;*/
		padding: 2px 2px 2px 2px;
		line-height: 20px;
		margin: 2px 2px 2px 2px;
		background: #6893DF;/*#666;*/
		cursor: pointer;
		text-align:center;
	width: 20px;
    height: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
	}


	.abgne-control ul li.prev{
		position:relative;
		left:-28px;
	}
	.abgne-control ul li.next{
		position:relative;
		right:-165px;
	}

	.abgne-control ul.numbers {
		margin-left: 13px;
		display:none;
	}
	.abgne-control ul li.current {
		background: #fff;
		color:#000;
	}
	.abgne-control ul li.hover {
		background: #fff;
		color:#000;
	}